*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

body{
  background: #afafaf;
  color: #423b3b;
  width: 100%;
  font-size: 60%;
  overflow-x: hidden;
  
}
.header{
  padding: 20px 12% 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #9e9e9ec9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
.logo{
  font-size: 30px;
  color: #423b3b;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}
.logo:hover{
  transform: scale(1.1);
}
.logo span{
  text-shadow: 0 0 25px #a32b2b;
}
.navbar a{
  font-size: 18px;
  color: #423b3b;
  margin-left:40px ;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active{
  color: #a32b2b;
  border-bottom: 3px solid #a32b2b;
}

.home{
  min-height: 100vh;
  padding: 100px 12% 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
span{
  color: #a32b2b;
}
.logo span{
  color: #a32b2b;
}
.home-content{
  max-width: 600px;
  margin-right: 100px;
}
.home-content h3{
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 35px;
}
.home-content h1{
  font-size: 70px;
  font-weight: 700;
  margin-top: 15px;
  line-height: 1;
}
.home-img{
  border-radius: 50%;
}
.home-img img{
  position: relative;
  top: 30px;
  width: 37vw;
  border-radius: 25px;
  box-shadow: 0 0 25px #a32b2b;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.home-img img:hover{
  box-shadow: 0 0 25px #a32b2b
              ,0 0 50px #a32b2b
              ,0 0 100px #a32b2b;
}
.home-content p{
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
}

/* ====================== first section ====================== */
.heading{
  font-size: 80px;  
  text-align: center;
  margin: 50px 0;
}
.first{
  padding: 100px 15px;
  background: #afafaf;
}
.first h2{
  /* font-size: 35px; */
  margin-bottom: 20px;
  margin-bottom: 50px;
}
.timeline-items{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before{
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #a32b2b;
  left: calc(50% - 1px);
}
.timeline-item{
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}
.timeline-item:last-child{
  margin-bottom: 0;
}
.timeline-item:nth-child(odd){
  padding-right: calc(50% + 30px) ;
  text-align: right;
}
.timeline-item:nth-child(even){
  padding-left: calc(50% + 30px);
}
.timeline-dot{
  height: 21px;
  width: 21px;
  background-color: #a32b2b;
  box-shadow: 0 0 25px #a32b2b
              0 0 50px #a32b2b;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}
.timeline-date{
  font-size: 20px;
  font-weight: 800;
  color: #252323;
  margin: 6px 0 15px;
}
.timeline-content{
  background-color: #afafaf;
  border: 3px solid #a32b2b;
  padding: 30px 50px;
  border-radius: 40px;
  box-shadow: 0 0 10px #a32b2b;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.timeline-content:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px #a32b2b;
}
.timeline-content h3{
  font-size: 20px;
  color: #271818;
  margin: 0 0 10px;
  font-weight: 800;
}
.timeline-content p{
  color: #020202;
  font-size: 16px;
  font-weight: 400    ;
  line-height: 22px;
}

/* ====================== secand section ====================== */

.secand{
  background: #afafaf;
  padding: 100px 15px;
  color: black;

}
.secand h2{
  
  margin-bottom: 100px;
  color: #423b3b;
}
.secand-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secand-box{
  background-color: #afafaf;
  height: 300px;
  width: 50%;
  box-shadow: 0 0 10px #a32b2b;
  border-radius: 30px;
  margin: 40px;
  border: 5px solid transparent;
  cursor: pointer;
  transition: 0-4s ease-in-out;
}
.secand-box:hover{
  color: black;
  border: 5px solid #a32b2b;
  transform: scale(1.03);
}
.secand-info{
  width: 100%;
  height: 100%;
  display: flex;
}
.secand-text{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: black;
}
.secand-text h3{
  font-size: 25px;
  margin-bottom: 20px;
}
.secand-text p{
  font-size: 14px;
  margin-bottom: 20px;

}
.secand-box .img-sc
{
  width: 30%;
  height: 100%;
}
.secand-box .img-sc1,.secand-box .img-sc2{
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin: 10px;
  position: relative;
  left: -50px;
  top: -50px;
}

.secand-box .img-sc1:hover,.secand-box .img-sc2:hover{
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
}
.secand-box .img-sc img{
  width: 150px;
  height: 150px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 0 15px #423b3b;
}



@media(max-width:935px){
  .secand-box{
    width: 60%;
  }
}
@media(max-width:780px){
  .secand-box{
    width: 70%;
  }
}
@media(max-width:680px){
  .secand-box{
    width: 80%;
  }
}
  .secand-text{
    font-size: 18px;
    width: 70%;
  }
  @media(max-width:490px){

  .secand-box{
    width: 90%;
  }
  .secand-text p{
    font-size: 12px;
    width: 90%; 
  }
  .secand-text h3{
    font-size: 18px;
  }
}
@media(max-width:410px){
  .secand-box{
    width: 100%;
  }

  .secand-text p{
    font-size: 10px;
    width: 90%;
    }
}
@media(max-width:370px){
  .secand-box{
    width: 100%;
  }
  .secand-text p{
    font-size: 8px;
    width: 90%;
}
.secand-box .img-sc img{
  width: 100px;
  height: 100px;
}
.secand-box .img-sc1,.secand-box .img-sc2{
  width: 100px;
  height: 100px;
  left: -30px;
  top: -30px;
}
.secand-box{
  height: 200px;

  }
}
/* ========================= scroll ============================= */


::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: #a32b2b;
}
::-webkit-scrollbar-track{
  background-color: #afafaf;
  width: 50px;
}  
/* =========================== END =========================================== */

.footer{
position: relative;
bottom: 0;
width: 100%;
padding: 40px 0;
background-color: #afafaf;
}
.footer .social{
text-align: center;
padding-bottom: 25px;
color: #a32b2b;
}
.footer .social a{
font-size: 25px;
color: #a32b2b;
border: 2px solid #a32b2b;
width: 42px;
height: 42px;
line-height: 42px;
display: inline-block;
text-align: center;
border-radius: 50%;
margin: 0 10px;
transition: 0.3s ease-in-out;
}
.footer .social a:hover{
transform: scale(1.2)translateY(-10px);
background-color: #a32b2b;
color: black;
box-shadow: 0 0 25px #a32b2b;
}
.footer ul{
margin-top: 0;
padding: 0;
font-size: 18px;
line-height: 1.6;
margin-bottom: 0;
text-align: center;
}
.footer ul li a{
color: #000000;
border-bottom: 3px solid transparent;
transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
border-bottom: 3px solid #a32b2b;
}
.footer ul li{
display: inline-block;
padding: 0 15px;
}
.footer .copyright{
margin-top: 50px;
text-align: center;
font-size: 16px;
color: rgb(0, 0, 0);
}
#menu-icon{
  display: none;
  color: #a32b2b;
  font-size: 35px;
  position: absolute
}
#menu-icon:hover{
  color: #a32b2b;
  cursor: pointer;
}
.dd{
  display: none;
}
  @media(max-width:958px)
  {
  #menu-icon{
    display: block;
    top: 20px;
    right: 20px;
    
  }
  .home-content {
    /* font-size: 20px; */
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    padding: 0;
    margin-right:0 ;
  }
  
  .navbar{
      position: absolute;
      top: 100%;
      right: 0;
      width: 30%;
      font-size: 20px;
      padding: 10px 3%;
      background: #000000cc;
      border-bottom-left-radius: 20px;
      border-left: 2px solid #a32b2b;
      display: none;
    }
    .navbar.active{
      display: block;
    }
    .navbar a{
      display: block;
      font-size: 20px;
      margin: 30px 0;
      color: white;
    }
    .home{
      display: block;
    }
    .home img{
      width: 100%;
      margin: 100px 0 100px 0;
    }
    .dd{
      display: block;
    }
    .ss{
      display: none;
    }
  }
  @media(max-width:768px){
    .navbar{
      width: 40%;}
  }


  @media(max-width:640px){
    .first{
      font-size: 30px;
    }
    .timeline-dot{
      display: none
    }
    .timeline-item:nth-child(odd){
      padding-right: 0;
  text-align: right;


    }
    .timeline-item:nth-child(even){
      padding-left: 0;
  text-align: right;

    }
    
  }
  @media(max-width:676px) {
    .home-content {
      /* font-size: 20px; */
      width: 100%;
      display: flex;
      /* justify-content: center; */
      align-items: center;
      flex-direction: column;
    }
    .home-content h1{
      font-size: 50px;
      width: 100%;
    }
    .home-content h3{
      font-size: 20px;
      width: 100%;
    }
  }
  @media(max-width:460px){
    h2{
      font-size: 10px;  }
        .secand h2{
          font-size: 40px;
        }
        .first h2{
          font-size: 40px;
        }
        .logo{
          font-size: 20px;
        }
        .home-content h1{
          font-size: 30px;
          width: 100%;
        }
        .home-content h3{
          font-size: 20px;
          width: 100%;
        }
  }
  @media(max-width:400px) {
    .home-img{
      border-radius: 50%;
    }
    .home-img img{
      width: 70vw;
      height: 70vw;
      border-radius: 50%;
      box-shadow: 0 0 25px #a32b2b;
      cursor: pointer;
      transition: 0.4s ease-in-out;
    }
  }
  

